#filedropzone {
  border: 2px dashed #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  color: black;
}
#filedropzone_empty {
  text-align: center;
  color: #bbb;
}
#filedropzone_filled {
  color: black;
  display: none;
}
#filebuttons {
  float: right;
}
.parametersdiv {
  border: 1px solid rgb(200,200,200);
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
.parametersdiv .header {
  font-weight: bold;
}
.statusdiv {
  width: 100%;
  margin-bottom: 10px;
}

body {
  font: 14px/20px 'Helvetica Neue Light', HelveticaNeue-Light, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  max-width: 820px;
  margin: 0 auto;
  padding: 10px;
}

canvas { cursor: move; }
pre, code, textarea {
  font: 12px/20px Monaco, monospace;
  border: 1px solid #CCC;
  border-radius: 3px;
  background: #F9F9F9;
  padding: 0 3px;
  color: #555;
}
pre, textarea {
  padding: 10px;
  width: 100%;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
textarea {
  height: 200px;
}
textarea:focus {
  outline: none;
}
@media screen and (max-width: 600px) {
    body {
        font-size: 22px;
        line-height: normal;
    }
    pre, textarea {
      max-width: 95%;
    }
}
